<mat-card class="card-container">
  <mat-card-title class="card-title">Recuperar Contraseña</mat-card-title>
  <mat-card-content>
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('email')">Email no es válido</mat-error>
        <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('required')">Email es requerido</mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="recoverPasswordForm.invalid">
          Enviar
        </button>
        <button mat-raised-button color="warn" type="button" (click)="onReset()">
          Limpiar
        </button>
      </div>

      <div class="link">
        <a mat-button [routerLink]="['/login']">Volver al Login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
