mat-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;
}

mat-card img {
  max-width: 100%;
  height: auto;
  max-height: 33vh; /* Ajustar la altura máxima a un tercio de la vista */
}

mat-card-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
}
