<div class="login-container">
  <mat-card class="card-container">
    <mat-card-title class="card-title">Iniciar sesión</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input 
            matInput 
            type="text" 
            [(ngModel)]="username" 
            name="username" 
            required 
            #usernameInput="ngModel"
          />
          <mat-error *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
            El correo es requerido
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input 
            matInput 
            type="password" 
            [(ngModel)]="password" 
            name="password" 
            required 
            #passwordInput="ngModel"
          />
          <mat-error *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            La contraseña es requerida
          </mat-error>
        </mat-form-field>
        
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
        </div>
        
        <div class="link">
          <a mat-button [routerLink]="['/register']">¿No tienes cuenta? Regístrate aquí</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
